body {
    /* As vezes ficava com um espaço em branco no topo da tela */
    margin: 0;
}

p {
    text-align: center;
}

/* participation */
input[type=number]:focus {
    width: 150%;
}

/* canvas {
    width: 400px !important;
    height: 400px !important;
} */

/* class */

/*  Transição dos inputs quando tiverem clicados (focados) */
.inputs {
    -webkit-transition: width .55s ease-in-out;
    transition: width .55s ease-in-out;
}

.inputs:focus {
    width: 250%;
}

.top-bar {
    /* centralizar o navbar */
    width: 40%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
} 

.chart-table {
    width: 70%;
    margin: 0 auto;
}

.alignCenterText {
    text-align: center;
}

.btn {
    width: 40%;
}

/* id */
#top-form {
    background-color: #00B8E2;
}

#title-subtitle {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#tabela {
    position: relative;
    right: 50px;
}